.slidecontainer {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    position: relative; 
    font-size: 24px;
}

.slidecontainer::before {
    content: '1';
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
}

.slidecontainer::after {
    content: '6';
    position: absolute;
    bottom:-10 px;
    right: -10px;
    background-color: lightcoral;
    padding: 5px;
    border-radius: 3px;
}
